*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.dashboard-container{
 background-color: rgb(189, 186, 186);
 padding: 40px;
 height:100vh
}
.dashboard-section{
    display: flex;
    width:100%;
}
.profile-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
    height:88vh;
    background-image: radial-gradient( circle farthest-corner at 48.4% 47.5%,  rgba(122,183,255,1) 0%, rgba(21,83,161,1) 90% );;
    padding: 40px;
}
.profile{
    width:120px;
    height:120px;
    border-radius: 50%;
    object-fit: cover;
}
.username{
    color:#ffffff;
    font-size: 34px;
    margin-top: 14px;
}
.btn-logout{
    background-color: aliceblue;
    color: black;
    border: none;
    padding: 4px 8px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 22px;
    font-family: "roboto";
}
.right-section{
    background-color: #ffffff;
    width:100%;
    padding: 20px;
}

.information-section, .project-information-section{
    display: flex;
    flex-direction: column;
    
}
.email-phone-section{
    display: flex;
    column-gap: 120px;
    row-gap: 40px;
    margin-top: 12px;
    flex-wrap: wrap;
}
hr{
    margin-top: 8px;
}

h4{
    color:rgb(158, 157, 157)
}
.info-data{
    font-size: 18px;
    font-weight: 400;
    font-family: "roboto";
}

.project-information-section{
    margin-top: 40px;
}